body {
    background-color: rgb(53, 51, 205);
}

.parent {
    width: 300px;
    height: 500px; 
    margin: auto;  
}

.child {
    padding: 50% 0;
    text-align: center;
}



/* .image {
    margin: auto;
    width: 50%;
    background-color: bisque;
}

.greeting {
    font-family: monaco;
    margin: auto;
    width: 50%;
    background-color: aqua;
}

.password {
    font-family: monaco;
    margin: auto;
    width: 50%;
    background-color: brown;
} */